h2 {
  padding-left: 20px;
  text-decoration: underline;
}

.grid_list_characters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}

.grid_list_characters article {
  text-align: center;
}

.footer_list {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  button {
    padding: 10px;
  }
}
